{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock title %}
{% block content %}
  <h1>Привет, это ЯмыАвто</h1>
  <p>
    Автор этого сайта - большой любитель автомобилей. Он увлекается историей автомобилей и следит за последними тенденциями в индустрии. Он создал этот сайт, 
    чтобы поделиться своими знаниями и опытом с другими автомобильными энтузиастами. На этом сайте вы найдете множество интересных материалов о различных марках 
    и моделях автомобилей, а также советы по техническому обслуживанию и ремонту.
  </p>
{% endblock %}