{% extends "base.html" %}
{% block title %}Технологии{% endblock title %}
{% block content %}
  <div class="row">
    <h1>Технологии</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Python - это высокоуровневый, интерпретируемый язык программирования, который известен своей простотой и читаемостью кода. 
          Он широко используется в различных областях, включая веб-разработку, научные исследования, анализ данных, искусственный интеллект и автоматизацию задач."<hr>
      </p>
    </article>
  </div>
{% endblock %}